@import url('__image/lead__image.css');
@import url('__caption/lead__caption.css');

.lead {
    margin: 0 auto 77px;
    padding: 0 15.8%;
}

@media screen and (max-width : 1280px) {

    .lead {
        padding: 0 11.5%;
    }

}

@media screen and (max-width : 1024px) {

    .lead {
        padding: 0 4.7%;
        margin: 0 auto 78px;
    }

}

@media screen and (max-width: 768px) {
    .lead {
        padding: 0 3%;
        margin: 0 auto 81px;
    }
}

@media screen and (max-width: 375px) {
    .lead {
        padding: 0 4.25%;
        margin: 0 auto 64px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        padding: 0 5%;
    }
}