.barentsburg__text {
    grid-area: txt;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    margin: 47px 0 0;
}

@media screen and (max-width: 1024px) {
   
    .barentsburg__text {
        margin: 44px 0 0;
    }
}

@media screen and (max-width : 768px) {

    .barentsburg__text {
        margin: 54px 0 0;
    }
}

@media screen and (max-width: 375px) {
   
    .barentsburg__text {
        width: 60%;
        margin: 20px -15px 0 0;
    }
}

@media screen and (max-width: 320px) {
   
    .barentsburg__text {
        margin: 20px -15px 0 1px;
        width: 56%;
    }
}