.video__duration {
    position: absolute;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    font-weight: normal;
    top:140px;
    left:30px;
    margin-top: 24px;
}

@media screen and (max-width: 1024px) {
    .video__duration {
        top:100px;
    }
}

@media screen and (max-width: 768px) {
    .video__duration {
        top:77px;
        left:24px;
    }
    .video__item:last-of-type .video__duration {
        top:55px;
        left:24px;
    }
}

@media screen and (max-width: 320px) {
    .video__duration {
        left:16px;
    }

    .video__item:last-of-type .video__duration {
        left:16px;
    }
}