@import url('../additional/__container/additional__container.css');
@import url('../additional/__heading/additional__heading.css');
@import url('../additional/__item/additional__item.css');
@import url('../additional/__item-bg/additional__item-bg.css');
@import url('../additional/__text/additional__text.css');

.additional {
    margin: 0 auto 112px;
    padding: 0 9%;
}


@media screen and (max-width: 1280px) {
    .additional {
        padding: 0 3.75%;
    }
}

@media screen and (max-width: 1024px) {
    .additional {
        padding: 0 1.66%;
        margin: 0 auto 98px;
    }
}

@media screen and (max-width: 768px) {
    .additional {
        padding: 0 3%;
        margin: 0 auto 104px;
    }
}

@media screen and (max-width: 375px) {
    .additional {
        padding: 0 4.25%;
        margin: 0 auto 56px;
    }
}

@media screen and (max-width: 320px) {
    .additional {
        padding: 0 5%;
        margin: 0 auto 67px;
    }
}